<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">
<th:block layout:fragment="content">
  <div class="container my-5">
    <h1 class="mb-4">Main Page</h1>
    <div class="mb-3">
      <a href="/loginPage" class="btn btn-primary">로그인하러가기</a>
    </div>
    <div class="mb-3">
      <button class="btn btn-info" onclick="location.href='/user-info'">내정보보기</button>
    </div>
    <!-- 로그아웃 버튼 -->
    <form th:action="@{/logout}" method="post" class="d-inline">
      <button type="submit" class="btn btn-danger">Logout</button>
    </form>
  </div>
</th:block>
</html>